@import "normalize.css";

:root {
  --primary: #ee4d2d;
  --black: #000;
  --text-color: #161823;
  --white: #fff;
  //default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --default-layout-header-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
