.wrapper {
  height: 85px;
  width: 100%;
  padding-left: 150px;
  padding-top: 5px;
  background-color: var(--primary);
}

.search-container {
  display: flex;
}

.search-cart-logo {
  height: 20px;
  width: 100px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 840px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.search-cart {
  color: red;
}

.search-cart-icon {
}
