.wrapper {
  height: 85px;
  width: 100%;
  padding-left: 150px;
  padding-top: 5px;
  background-color: var(--primary);
}

.search-container {
  display: flex;
}

.shopee-logo {
  height: 50px;
  width: 165px;
}

.wrapper {
  padding-top: 12px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 840px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.search-cart {
  color: red;
  padding: 5px;
}

.search-cart-icon {
  color: red;
  padding: 5px;
}
